footer {
  border-top: 1px solid var(--border-gray);
  text-align: center;
  padding: 20px 0;
  color: gray;
}

footer h6, a {
  font-size: var(--fs-sm);
}

a:hover {
  color: var(--blue);
  transition-duration: 200ms;
}
