<header>
  <div class="container">
    <app-navbar></app-navbar>

    <section class="top__posts container-sm">
      <div class="top__posts-card" *ngFor="let post of topPosts">
        <app-top-post-card [postData]="{'slugId': post.id}" [bgImage]="post.img" [padding]="post.padding"
          [categoryTop]="post.categoryTop"></app-top-post-card>
      </div>
    </section>
  </div>
</header>

<main class="container-sm">
  <div class="post__card" *ngFor="let post of postCards">
    <app-post-card [postData]="{'slugId': post.id, 'img': post.img, 'imgAlt': post.imgAlt}"
      [imgHeight]="post.imgHeight"></app-post-card>
  </div>

  <aside>3</aside>
</main>
