header {
  background-color: var(--bg-gray);
}

.top__posts {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 270px 270px;
}

.top__posts-card:nth-child(1) {
  grid-area: 1 / 1 / span 2 / 1;
}

main {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 340px;
  grid-template-rows: 500px 520px;
}

.post__card:nth-child(1) {
  border-right: 1px solid var(--border-gray);
  padding-right: 15px;
  margin-bottom: 20px;
}

.post__card:nth-child(2) {
  padding-left: 15px;
}

.post__card:nth-child(3) {
  grid-area: 2 / 1 / 2 / span 2;
  border-top: 1px solid var(--border-gray);
  padding-top: 20px;
}

aside {
  grid-area: 1 / 3 / span 2 / 3;
  border-left: 1px solid var(--border-gray);
  margin-left: 15px;
}
