article {
  gap: 15px;
}

.title {
  margin-bottom: 6px;
}

img {
  width: 150px;
  height: 120px;
  object-fit: cover;
}

span {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
}

p {
  font-size: 12px;
  line-height: 1rem;
}

h5 {
  font-size: var(--fs-sm);
}

a:hover {
  color: var(--blue);
  transition-duration: 200ms;
}
